@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url(./_mediaqueries.scss);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body .container {
  max-width: 1630px;
  margin: auto;
  padding: 20px;
  font-family: "Roboto Condensed", sans-serif;
}

body .container img {
  width: 100%;
}

body .container header {
  background-image: url(./img/Header-Image.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 45vh;
  overflow: hidden;
  -webkit-box-shadow: rgba(0, 0, 0, 0.692) 0 15px 15px;
          box-shadow: rgba(0, 0, 0, 0.692) 0 15px 15px;
}

body .container header h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 100;
  font-size: 8.4vw;
  padding: 20px;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.637) 10px 10px 10px;
}

body .container header h1 span {
  color: #aedde3;
}

body .container #navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-image: url(./img/nav.jpg);
  height: 8vh;
  width: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.692) 0 15px 15px;
          box-shadow: rgba(0, 0, 0, 0.692) 0 15px 15px;
}

body .container #navbar a {
  text-transform: uppercase;
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 23px 20px;
  text-decoration: none;
  font-size: 25px;
}

body .container #navbar a:hover {
  background-color: #009bb0;
}

@media screen and (max-width: 980px) {
  body .container header {
    height: 25vh;
  }
  body .container header h1 {
    font-size: 8.5vw;
  }
  body .container #navbar {
    overflow: hidden;
    background-color: #3e589b;
    height: 8vh;
  }
  body .container #navbar a {
    text-transform: uppercase;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 3vw;
  }
  body .container #navbar a:hover {
    background-color: #3e589b;
  }
}

@media screen and (max-width: 580px) {
  body .container header {
    height: 20vh;
  }
  body .container header h1 {
    font-size: 8.5vw;
  }
  body .container #navbar {
    height: 20vh;
  }
  body .container #navbar a {
    float: none;
    text-align: left;
    padding: 5px;
    -webkit-text-decoration: underline white 1px;
            text-decoration: underline white 1px;
    font-size: 22px;
  }
  body .container #navbar a:hover {
    background-color: #009bb0;
  }
}

body .container .one {
  padding: 30px 0;
}

body .container .one h3 {
  font-weight: 100;
  color: #009bb0;
  font-size: 40px;
  padding: 0;
}

body .container .one h4 {
  font-weight: 100;
  font-size: 30px;
  color: #009bb0;
  font-style: italic;
}

body .container .two {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  text-align: center;
}

body .container .two img {
  width: 100%;
}

body .container .three h3 {
  font-weight: 100;
  color: #009bb0;
  font-size: 40px;
  padding: 20px 0;
}

body .container .three .text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 50px;
}

body .container .three p {
  font-size: 20px;
}

body .container .four h3 {
  font-weight: 100;
  color: #009bb0;
  font-size: 40px;
  padding: 20px 0;
}

body .container .four li {
  list-style-position: inside;
}

body .container .four li span {
  color: #009bb0;
}

body .container .five {
  padding: 30px 0 0;
}

body .container .five h3 {
  font-weight: 100;
  color: #009bb0;
  font-size: 40px;
}

body .container .five h4 {
  font-weight: 100;
  font-size: 30px;
  color: #009bb0;
  font-style: italic;
}

body .container .five .text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 50px;
  margin: 20px 0;
}

body .container .five p {
  font-size: 20px;
}

body .container .five figure {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
}

body .container .five figure img {
  width: 100%;
}

body .container .six {
  padding: 30px 0;
}

body .container .six h3 {
  font-weight: 100;
  color: #009bb0;
  font-size: 40px;
}

body .container .six ul {
  padding: 20px 0;
}

body .container .six li {
  list-style-position: inside;
}

body .container .six li span {
  color: #009bb0;
}

body .container .seven h3 {
  font-weight: 100;
  color: #009bb0;
  font-size: 40px;
}

body .container .seven h4 {
  font-weight: 100;
  font-size: 30px;
  color: #009bb0;
  font-style: italic;
  padding: 10px 0 20px 0;
}

body .container .seven span {
  color: #009bb0;
}

body .container .eight h3 {
  font-weight: 100;
  color: #009bb0;
  font-size: 40px;
  padding: 20px 0;
}

body .container .eight span {
  color: #009bb0;
}

body .container .eight .blue-dark {
  color: #3e589b;
}

body .container .eight h4 {
  font-weight: 100;
  font-size: 30px;
  color: #009bb0;
  font-style: italic;
  padding: 20px 0;
}

body .container .nine {
  padding: 30px 0;
}

body .container .nine h3 {
  font-weight: 100;
  color: #009bb0;
  font-size: 40px;
}

body .container .nine h4 {
  font-weight: 100;
  font-size: 30px;
  color: #009bb0;
  font-style: italic;
  padding: 0 0 20px;
}

body .container .ten h3 {
  font-weight: 100;
  color: #009bb0;
  font-size: 40px;
}

body .container .ten h4 {
  font-weight: 100;
  font-size: 30px;
  color: #009bb0;
  font-style: italic;
  padding: 0 0 20px;
}

body .container footer {
  position: relative;
  padding: 20px 0;
  background-color: #3e589b;
}

body .container footer p {
  color: white;
  font-size: 20px;
  padding: 10px;
}

body .container footer p a {
  text-decoration: none;
  color: #aedde3;
  line-height: 25px;
}

body .container footer img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30%;
  padding: 10px;
}

@media screen and (max-width: 980px) {
  body .container footer img {
    width: 50%;
  }
}

@media screen and (max-width: 580px) {
  body .container .one h3,
  body .container .two h3,
  body .container .three h3,
  body .container .four h3,
  body .container .five h3,
  body .container .six h3,
  body .container .seven h3,
  body .container .eight h3,
  body .container .nine h3,
  body .container .ten h3 {
    font-size: 30px;
  }
  body .container .one h4,
  body .container .two h4,
  body .container .three h4,
  body .container .four h4,
  body .container .five h4,
  body .container .six h4,
  body .container .seven h4,
  body .container .eight h4,
  body .container .nine h4,
  body .container .ten h4 {
    font-size: 20px;
  }
  body .container .two {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  body .container .five figure {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  body .container footer {
    height: 32vh;
  }
  body .container footer img {
    position: absolute;
    left: 0;
    width: 50%;
  }
}
/*# sourceMappingURL=main.css.map */